@model RegisterModel
@using Nop.Web.Models.Customer;
@{
  Layout = "~/Views/Shared/_ColumnsOne.cshtml";

  //title
  Html.AddTitleParts(T("PageTitle.Register").Text);
}
@if (Model.CountryEnabled && Model.StateProvinceEnabled)
{
  <script type="text/javascript">
    $(function () {
      $("#@Html.FieldIdFor(model => model.CountryId)").change(function () {
        var selectedItem = $(this).val();
        var ddlStates = $("#@Html.FieldIdFor(model => model.StateProvinceId)");
        var statesProgress = $("#states-loading-progress");
        statesProgress.show();
        $.ajax({
          cache: false,
          type: "GET",
          url: "@(Url.RouteUrl("GetStatesByCountryId"))",
          data: { "countryId": selectedItem, "addSelectStateItem": "true" },
          success: function (data) {
            ddlStates.html('');
            $.each(data, function (id, option) {
              ddlStates.append($('<option></option>').val(option.id).html(option.name));
            });
            statesProgress.hide();
          },
          error: function (xhr, ajaxOptions, thrownError) {
            alert('Failed to retrieve states.');
            statesProgress.hide();
          }
        });
      });
    });
  </script>
}
@using (Html.BeginForm())
{
  @Html.AntiForgeryToken()

  <section class="container">
    <div class="white-space space-xsmall"></div>
    <section class="section section-main-content">
      <div class="row">
        <div class="col-md-8 border-dashed-right">
          <div class="white-space space-small"></div>
          <div class="row">
            <div class="col-md-11">
              <!-- Nav tabs -->
              <ul class="nav nav-tabs nav-dashboad" role="tablist">
                <li role="presentation"><a href="#login" aria-controls="login" role="tab" data-toggle="tab">Login</a></li>
                <li role="presentation" class="active"><a href="#sign-up" aria-controls="sign-up" role="tab" data-toggle="tab">Sign up</a></li>
              </ul>
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane" id="login">
                  <div class="white-space space-xmini"></div>
                  <p class="f20 text-center"> To be continue</p>
                  <div class="white-space space-big"></div>
                </div>
                <div role="tabpanel" class="tab-pane active" id="sign-up">
                  <div class="white-space space-xmini"></div>
                  <p class="f14 text-default pull-right">
                    * Thông tin bắt buộc
                  </p>
                  <div class="white-space space-medium"></div>
                  <form id="frm-register" class="form-horizontal" action="">
                    <div class="form-group">
                      @Html.LabelFor(model => model.LastName, new { @class = "col-md-5 control-label label-customer" }, ":")
                      <div class="col-sm-7">
                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control form-customer" } })
                      </div>
                      @*@Html.RequiredHint()*@
                      @Html.ValidationMessageFor(model => model.LastName, null, new { @class = "col-sm-offset-5 col-sm-7" })
                      <div class="clearfix"></div>
                    </div>
                    <div class="form-group">
                      @Html.LabelFor(model => model.Email, new { @class = "col-md-5 control-label label-customer" }, ":")
                      <div class="col-sm-7">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control form-customer" } })
                      </div>
                      @*@Html.RequiredHint()*@
                      @Html.ValidationMessageFor(model => model.Email, null, new { @class = "col-sm-offset-5 col-sm-7" })
                      <div class="clearfix"></div>
                    </div>
                    <div class="form-group">
                      @Html.LabelFor(model => model.Password, new { @class = "control-label col-md-5 label-customer" }, ":")
                      <div class="col-sm-7">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control form-customer" } })
                      </div>
                      @*@Html.RequiredHint()*@
                      @Html.ValidationMessageFor(model => model.Password, null, new { @class = "col-sm-offset-5 col-sm-7" })
                      <div class="clearfix"></div>
                    </div>
                    <div class="form-group">
                      @Html.LabelFor(model => model.ConfirmPassword, new { @class = "col-md-5 control-label label-customer" }, ":")
                      <div class="col-sm-7">
                        @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control form-customer" } })
                      </div>
                      @*@Html.RequiredHint()*@
                      @Html.ValidationMessageFor(model => model.ConfirmPassword, null, new { @class = "col-sm-offset-5 col-sm-7" } )
                      <div class="clearfix"></div>
                    </div>
                    @if (Model.DateOfBirthEnabled)
                    {
                      <div class="form-group">
                        <label class="col-sm-5 control-label label-customer">Ngày tháng năm sinh </label>
                          <div class="col-sm-7">
                              <div class="row">
                                    @Html.DatePickerDropDowns(Html.FieldNameFor(x => x.DateOfBirthDay),
                                    Html.FieldNameFor(x => x.DateOfBirthMonth),
                                    Html.FieldNameFor(x => x.DateOfBirthYear),
                                    DateTime.Now.Year - 110,
                                    DateTime.Now.Year,
                                    Model.DateOfBirthDay,
                                    Model.DateOfBirthMonth,
                                    Model.DateOfBirthYear)
                                    @if (Model.DateOfBirthRequired){
                                     @Html.RequiredHint()
                                    }
                                    @Html.ValidationMessageFor(model => model.DateOfBirthDay)
                                    @Html.ValidationMessageFor(model => model.DateOfBirthMonth)
                                    @Html.ValidationMessageFor(model => model.DateOfBirthYear)
                              </div>
                          </div>
                        <div class="clearfix"></div>
                      </div>
                      <script type="text/javascript">
                        $(function () {
                          $("select[name='DateOfBirthDay'],select[name='DateOfBirthMonth'],select[name='DateOfBirthYear']").addClass("form-control form-customer");
                          $("select[name='DateOfBirthDay']").wrap("<div class='col-md-4'></div>");
                          $("select[name='DateOfBirthMonth']").wrap("<div class='col-md-4'></div>");
                          $("select[name='DateOfBirthYear']").wrap("<div class='col-md-4'></div>");
                        });
                      </script>
                    }
                    <div class="form-group">
                      @if (Model.GenderEnabled)
                      {

                        <label class="col-sm-5 control-label label-customer">@T("Account.Fields.Gender"):</label>
                        <div class="col-sm-7">
                          <div class="gender">
                            <span class="male">
                              @Html.RadioButton("Gender", "M", (Model.Gender == "M"), new { id = "gender-male" })
                              <label class="forcheckbox" for="gender-male">@T("Account.Fields.Gender.Male")</label>
                            </span>
                            <span class="female">
                              @Html.RadioButton("Gender", "F", (Model.Gender == "F"), new { id = "gender-female" })
                              <label class="forcheckbox" for="gender-female">@T("Account.Fields.Gender.Female")</label>
                            </span>
                          </div>
                        </div>
                      }
                      <div class="clearfix"></div>
                    </div>

                    <div class="form-group">
                      @if (Model.DisplayCaptcha)
                      {
                        <div class="captcha-box">
                          @Html.Raw(Html.GenerateCaptcha())
                        </div>
                      }
                      <label class="col-sm-5 control-label label-customer">Nhập mã bảo vệ <span>(Lưu ý: Phân biệt chữ hoa, chữ thường, số)</span></label>
                      <div class="col-sm-7 form-inline">
                        <input type="text" class="form-control form-customer" name="captcha">
                        <img src="img/captcha.png" />
                      </div>
                      <div class="clearfix"></div>
                    </div>
                    <div class="form-group">
                      @if (Model.AcceptPrivacyPolicyEnabled)
                      {
                        <script type="text/javascript">
                          $(document).ready(function () {
                            $('#register-button').click(function () {
                              if ($('#accept-privacy-policy').is(':checked')) {
                                //do some stuff
                                return true;
                              }
                              else {
                                //just show validation errors, dont post
                                alert('@Html.Raw(HttpUtility.JavaScriptStringEncode(T("Account.Fields.AcceptPrivacyPolicy.Required").Text))');
                                return false;
                              }
                            });
                          });
                        </script>
                        <div class="accept-privacy-policy">
                          <input id="accept-privacy-policy" type="checkbox" name="accept-privacy-policy" />
                          <label for="accept-privacy-policy">@T("Account.Fields.AcceptPrivacyPolicy")</label>
                          <span class="read" onclick="javascript:OpenWindow('@Url.RouteUrl("TopicPopup", new { SystemName = "privacyinfo" })', 450, 500, true)">@T("Account.Fields.AcceptPrivacyPolicy.Read")</span>
                        </div>
                      }
                      <div class="col-sm-offset-5 col-sm-7 text-center">
                        <p>Tôi đã đọc và đồng ý với <a class="text-orange" href="#">điều khoản sử dụng </a>của Worldstar</p>
                        <div class="white-space space-mini"></div>
                        <input type="submit" id="register-button" class="btn btn-default btn-customer" value="@T("Account.Register.Button")" name="register-button" />
                        <div class="white-space space-mini"></div>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" value="">
                            Nhận các thông tin khuyến mãi qua e-mail*
                          </label>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="col-md-4">
          <div class="white-space space-small"></div>
          <div class="row">
            <div class="col-md-offset-2 col-md-10">
              <h3 class="page-header">Sign up with</h3>
              <div class="white-space space-big"></div>
              <ul class="list-unstyled register-other">
                <li class="">
                  <a href=""><i class="fa fa-facebook"></i> Facebook</a>
                </li>
                <li class="sign-up-google">
                  <a href="#"><i class="fa fa-google-plus"></i> Google</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
          <div class="same">
            <img src="@Url.Content("~/Worldstart/Content/images/same.png")" alt="" />
          </div>
      </div>
    </section>
  </section>
}